---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-row mt-8">
  <button class="basis-1/4 text-center btn btn-ghost">
    <Icon name="material-symbols:bar-chart-rounded" class="text-2xl" />
  </button>
  <button class="basis-1/2 text-center btn btn-ghost">
    <Icon name="material-symbols:comment-outline" class="text-2xl" />
  </button>
  <button class="basis-1/4 text-center btn btn-ghost">
    <Icon name="material-symbols:share-windows" class="text-2xl" />
  </button>
</div>
