---

---

<div class="flex flex-row mt-8">
  <button class="basis-1/4 text-center btn btn-ghost">
    <i class="text-2xl icon-[material-symbols--bar-chart-rounded]"></i>
  </button>
  <button class="basis-1/2 text-center btn btn-ghost">
    <i class="text-2xl icon-[material-symbols--comment-outline]"></i>
  </button>
  <button class="basis-1/4 text-center btn btn-ghost">
    <i class="text-2xl icon-[material-symbols--share-windows]"></i>
  </button>
</div>
